<div class="container">
    <div id="panel_login">
        <h2 *ngIf="!selectedDate" class="header">Seleccione una fecha para realizar una reserva</h2>
        <div class="form-signin" *ngIf="!selectedDate">
          <div class="row justify-content-center">
            <div class="col-3">
              <ng-container>
              <ngb-datepicker class="datepicker" #dp (navigate)="date = $event.next" name="dateReserve" [(ngModel)]="model" [minDate]="minDate"></ngb-datepicker>
              <button id="boton_datepicker" type="button" class="btn btn-primary" (click)="onReservation()">
                <span id="icon_login" class="glyphicon glyphicon-user"></span>Realizar reserva
              </button>
              </ng-container>
            </div>
          </div>
        </div>
        <app-admin-reservas (back)="back()" [dateToISO]="dateToISO" *ngIf="selectedDate"></app-admin-reservas>
    </div>
</div>
